:root{
  --darker: #000000;
  --bg-dark: #292929;
  --medium-grey: #1F1F1F;
  --dark-grey: #121212;
  --light-grey: #7B7B7B;
  --white: #E1E1E1;
  --source: #27BB65;
  --target: #FD413C;
  --wall: #1F1F1F;
  --path: #313C45;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-dark);
  color: var(--white);
}

.flexbox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  background-color: var(--dark-grey);
  width: 100%;
  height: 50px;
}

.links ul li {
  list-style: none;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content{
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content h1 {
  margin: 20px 0 0 0;
}

.content hr {
  margin: 10px 0;
}

.content .textbox p {
  font-size: 1.1em;
  text-align: justify;
}

.content .textbox li {
  margin: 10px 50px;
}

.content .textbox img {
  width: 80%;
}

.content #backtrack_steps{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.content #backtrack_steps img{
  width: 180px;
}

.content .test_canvas{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.content .test_canvas form{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.static_mazes {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

#canvas{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}