.content #backtrack_steps{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.content #backtrack_steps img{
  width: 180px;
}

.content .test_canvas{
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.content .test_canvas form{
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content .test_canvas .control_canvas{
  width: 150%;
  display: flex;
  flex-direction: column;
}

.flexbox-around{
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
}

.static_mazes {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.heuristic-img{
  width: 250px;
  height: 200px;
}

.prims-img {
  width: 80%;
}